.login-centralizar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-main {
  display: grid;
  row-gap: 6px;
  justify-items: center;
  grid-template-columns: 1fr;
}

.login-title {
  color:rgb(100, 100, 100); 
}

.login-input-data	{
  font-size:18px;
  padding:10px 10px 10px 5px;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}

.login-input-data:focus { 
  outline:none; 
}

.login-btn {
  background-color: #757575;
  color: rgba(256,256,256,0.7);
  border:0;
  border-radius: 15px;
  margin: 15px auto; 
  padding: 15px 45px;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

.login-btn:focus { 
  outline:none; 
}

.login-btn:hover {
  background-color: rgba(0,0,0,0.8);
}

.login-btn:hover:active {
  background-color: #757575;
}

